In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import scipy.stats as st
from pprint import pprint
import time
from scipy.stats import linregress
import reverse_geocoder as rg
import glob

In [2]:
path = r"output_data_full"
all_files = glob.glob(path + "/*_full.csv")

stats = []

for filename in all_files:
    weather_df = pd.read_csv(filename, index_col=None, header=0)
    stats.append(weather_df)
    
weather_full_data = pd.concat(stats, axis=0, ignore_index=True)
weather_full_data

,Lat,Lng,Depth,Mag,MMI,Sig,Felt,Place,Time,Month,Day,Year
0,33.561833,-116.767833,17.360,1.50,NaN,35,NaN,"9km W of Anza, CA",1980-12-30 23:53:42.320,12,30,1980
1,38.816000,-122.795167,3.031,0.47,NaN,3,NaN,Northern California,1980-12-30 23:01:00.460,12,30,1980
2,38.630333,-122.333333,10.834,1.05,NaN,17,NaN,Northern California,1980-12-30 22:44:10.360,12,30,1980
3,19.395500,-155.279167,1.789,1.91,NaN,56,NaN,"Hawaii region, Hawaii",1980-12-30 22:42:16.360,12,30,1980
4,19.392500,-155.276333,1.939,1.97,NaN,60,NaN,"Hawaii region, Hawaii",1980-12-30 22:21:55.890,12,30,1980
...,...,...,...,...,...,...,...,...,...,...,...,...
819954,59.806400,-136.757300,7.000,1.20,NaN,22,NaN,"48 km NW of Mosquito Lake, Alaska",2020-11-07 21:34:30.025,11,7,2020
819955,38.834333,-122.811833,2.020,0.28,NaN,1,NaN,"8km W of Cobb, CA",2020-11-07 21:33:20.760,11,7,2020
819956,32.348600,141.697900,9.280,5.20,NaN,416,NaN,"Izu Islands, Japan region",2020-11-07 21:30:44.700,11,7,2020
819957,38.835499,-122.805664,1.480,0.74,NaN,8,NaN,"7km WNW of Cobb, CA",2020-11-07 21:26:52.230,11,7,2020
819958,52.045000,-176.058333,8.560,0.14,NaN,0,NaN,"Andreanof Islands, Aleutian Islands, Alaska",2020-11-07 21:24:05.170,11,7,2020

In [3]:
weather_full_data.count()

Lat      819959
Lng      819959
Depth    819959
Mag      777833
MMI        4322
Sig      819959
Felt      14229
Place    819956
Time     819959
Month    819959
Day      819959
Year     819959
dtype: int64