In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import gmaps

In [2]:
# Load in csv 
all_earthquakes = pd.read_csv("earthquake_data_1980-2020.csv")

# Vizualize
all_earthquakes.head()

,Lat,Lng,Depth,Mag,Sig,Place,Time,Month,Day,Year
0,12.353,95.192,20.0,5.1,400,"Andaman Islands, India region",1980-01-01 01:24:37.200,1,1,1980
1,27.261,60.259,33.0,5.3,432,southeastern Iran,1980-01-01 02:45:54.000,1,1,1980
2,-31.211,58.717,10.0,5.0,385,Southwest Indian Ridge,1980-01-01 16:41:45.700,1,1,1980
3,38.815,-27.780,10.0,6.7,691,"Azores Islands, Portugal",1980-01-01 16:42:40.000,1,1,1980
4,3.491,126.716,54.0,5.0,385,"Kepulauan Talaud, Indonesia",1980-01-01 19:19:05.900,1,1,1980

In [8]:
# Sort by magnitude and get the largest 25 earthquakes
all_earthquakes = all_earthquakes.sort_values(by='Mag', ascending=False)
largest_quakes = all_earthquakes.head(25)

# Configure gmaps
gmaps.configure(api_key=gkey)

# Store latitude and longitude in locations and convert magnitude to float
locations = largest_quakes[["Lat", "Lng"]]
magnitude = largest_quakes["Mag"].astype(float)


# Using the template add the earthquake marks to the gmap
info_box_template = """
<dl>
<dt>Place</dt><dd>{Place}</dd>
<dt>Mag</dt><dd>{Mag}</dd>
<dt>Year</dt><dd>{Year}</dd>
</dl>
"""
# Store the DataFrame Row
quake_info = [info_box_template.format(**row) for index, row in largest_quakes.iterrows()]

In [9]:
# Plot map
fig = gmaps.figure()

# Create marker layer
markers = gmaps.marker_layer(locations, info_box_content=quake_info)

# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#pd.to_numeric(all_earthquakes["Year"])

bins = [1980, 1990, 2000, 2010, 2020]

labels = ['1980-89', '1990-99', '2000-09', '2010-2020']

# Slice the data and place it into bins
pd.cut(all_earthquakes["Year"], bins, labels=labels).head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Year, dtype: category
Categories (4, object): [1980-89 < 1990-99 < 2000-09 < 2010-2020]

In [ ]:
# Place the data series into a new column inside of the DataFrame
all_earthquakes["Decade"] = pd.cut(all_earthquakes["Year"], bins, labels=labels)
all_earthquakes.head()