In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import scipy.stats as st
from pprint import pprint
import time
from scipy.stats import linregress

In [7]:

# Set base url parameters
base_url = "https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson"
magnitude = "minmagnitude=5"
limit = "limit=19999"
year=15

# set up lists to hold reponse info
time_ls = []
lat_ls = []
lng_ls = []
depth_ls = []
mag_ls = []
mmi_ls = []
sig_ls = []
felt_ls = []
place_ls = []

for x in range (0,6):
    time = f"starttime=20{year}-12-01&endtime=20{year}-12-02"
    query_url = (f"{base_url}&{time}&{magnitude}&{limit}")
    response = requests.get(query_url).json()

    for i in range (0, len(response["features"])):
        mag_ls.append(response["features"][i]["properties"]["mag"])
        place_ls.append(response["features"][i]["properties"]["place"])
        time_ls.append(response["features"][i]["properties"]["time"])
        felt_ls.append(response["features"][i]["properties"]["felt"])
        mmi_ls.append(response["features"][i]["properties"]["mmi"])
        sig_ls.append(response["features"][i]["properties"]["sig"])
        lat_ls.append(response["features"][i]["geometry"]["coordinates"][1])
        lng_ls.append(response["features"][i]["geometry"]["coordinates"][0])
        depth_ls.append(response["features"][i]["geometry"]["coordinates"][2])

    year=year+1

In [18]:


data = {
    "time": time_ls,
    "lat": lat_ls,
    "lng": lng_ls,
    "depth": depth_ls,
    "mag": mag_ls,
    "mmi": mmi_ls,
    "sig": sig_ls,
    "felt": felt_ls,
    "place": place_ls
}
data_df = pd.DataFrame(data)

data_df["time"] = pd.to_datetime(data_df["time"], unit="ms")
data_df["month"] = pd.DatetimeIndex(data_df["time"]).month
data_df["day"] = pd.DatetimeIndex(data_df["time"]).day
data_df["year"] = pd.DatetimeIndex(data_df["time"]).year

data_df= data_df[["time","month","day","year","lat","lng","depth","mag","mmi","sig","felt","place"]]
data_df

,time,month,day,year,lat,lng,depth,mag,mmi,sig,felt,place
0,2015-12-01 20:20:12.680,12,1,2015,-6.9809,155.5596,51.91,5.0,NaN,385,0.0,"73km S of Panguna, Papua New Guinea"
1,2015-12-01 17:08:25.130,12,1,2015,-14.8839,-176.5573,10.00,5.8,3.610,518,0.0,"182km SSW of Mata-Utu, Wallis and Futuna"
2,2015-12-01 13:39:55.090,12,1,2015,-16.3790,-71.1123,117.31,5.0,NaN,387,5.0,"45km E of Arequipa, Peru"
3,2015-12-01 12:14:21.780,12,1,2015,1.0112,127.5026,10.00,5.1,NaN,400,NaN,"25km NNE of Ternate, Indonesia"
4,2015-12-01 06:13:43.360,12,1,2015,41.3752,73.2570,40.83,5.1,NaN,402,5.0,"43km S of Uch-Terek, Kyrgyzstan"
5,2016-12-01 22:40:26.610,12,1,2016,-15.3122,-70.8270,12.00,6.2,6.366,599,10.0,"44km NE of Huarichancara, Peru"
6,2016-12-01 20:51:55.550,12,1,2016,-35.2021,54.0219,10.00,5.5,0.000,465,NaN,South Indian Ocean
7,2016-12-01 16:52:50.110,12,1,2016,29.9790,80.6321,31.96,5.2,NaN,420,12.0,"17km NNE of Dharchula, India"
8,2016-12-01 05:16:26.830,12,1,2016,52.4199,157.7689,116.33,5.0,NaN,385,NaN,"66km SSW of Paratunka, Russia"
9,2016-12-01 00:25:21.380,12,1,2016,9.9485,-83.8069,1.32,5.3,6.308,460,49.0,"9km NE of Cot, Costa Rica"
10,2017-12-01 05:20:28.480,12,1,2017,-48.7787,106.8254,10.00,5.5,0.000,465,NaN,Southeast Indian Ridge
11,2017-12-01 04:31:38.730,12,1,2017,-21.4771,168.6201,10.00,5.1,NaN,400,1.0,"76km E of Tadine, New Caledonia"
12,2017-12-01 03:35:01.840,12,1,2017,30.7151,57.3850,10.00,5.4,NaN,451,6.0,"56km NNE of Kerman, Iran"
13,2017-12-01 02:49:58.490,12,1,2017,-6.1346,147.6564,34.00,6.0,5.232,556,6.0,"56km NNW of Finschhafen, Papua New Guinea"
14,2017-12-01 02:43:27.200,12,1,2017,30.6973,57.4397,10.00,5.1,NaN,400,NaN,"57km NE of Kerman, Iran"
15,2017-12-01 02:32:46.040,12,1,2017,30.7464,57.3070,9.00,6.1,7.127,603,62.0,"55km NNE of Kerman, Iran"
16,2017-12-01 00:06:13.200,12,1,2017,-6.2980,130.1189,139.55,5.0,NaN,385,NaN,"225km NW of Saumlaki, Indonesia"
17,2018-12-01 23:55:24.630,12,1,2018,-33.9216,-72.4010,10.00,5.5,3.980,477,17.0,"80km WSW of San Antonio, Chile"
18,2018-12-01 18:24:06.350,12,1,2018,-19.1949,-172.8040,10.00,5.0,NaN,385,NaN,"138km ESE of Neiafu, Tonga"
19,2018-12-01 13:27:21.080,12,1,2018,-7.3841,128.7065,136.00,6.4,4.045,650,44.0,"294km WNW of Saumlaki, Indonesia"
20,2018-12-01 12:42:14.810,12,1,2018,-54.2114,-2.1688,10.00,5.3,NaN,432,NaN,Southern Mid-Atlantic Ridge
21,2018-12-01 07:57:22.619,12,1,2018,61.3548,-149.9913,42.90,5.1,4.300,536,234.0,"15km NNW of Anchorage, Alaska"
22,2018-12-01 07:07:37.990,12,1,2018,61.4833,-149.9362,51.30,5.0,4.090,433,68.0,"4km SSE of Big Lake, Alaska"
23,2018-12-01 05:49:16.270,12,1,2018,-20.9517,-178.6167,562.42,5.0,NaN,385,NaN,"34km SSE of Ndoi Island, Fiji"
24,2019-12-01 21:22:43.668,12,1,2019,-10.3038,161.2514,65.23,5.1,NaN,400,NaN,"75km WNW of Kirakira, Solomon Islands"
25,2019-12-01 05:48:34.645,12,1,2019,-5.1452,68.6183,10.00,5.3,NaN,432,NaN,Chagos Archipelago region
26,2020-12-01 23:32:56.573,12,1,2020,38.1637,-118.0837,5.00,5.1,5.340,453,130.0,"25 km S of Mina, Nevada"
27,2020-12-01 20:52:57.053,12,1,2020,-61.9613,154.7338,10.00,6.0,0.000,554,NaN,Balleny Islands region
28,2020-12-01 17:39:14.347,12,1,2020,-59.9144,-26.7497,96.57,5.1,NaN,400,NaN,South Sandwich Islands region
29,2020-12-01 16:35:48.199,12,1,2020,53.6935,-150.5900,10.00,5.7,0.000,500,1.0,south of Alaska
30,2020-12-01 16:22:39.884,12,1,2020,52.7655,-168.2667,23.00,6.4,7.312,638,10.0,"44 km ESE of Nikolski, Alaska"