In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import scipy.stats as st
from pprint import pprint
import time
from scipy.stats import linregress
import reverse_geocoder as rg

In [3]:
# Load data from CSVs to create dataframe
quakedata_201020_df = pd.read_csv("output_data/earthquake_data_2010-20.csv")
quakedata_201020_df.head()

,Lat,Lng,Depth,Mag,MMI,Sig,Felt,Place,Time,Month,Day,Year
0,-31.8300,-178.1350,35.0,5.0,NaN,385,NaN,Kermadec Islands region,2010-12-30 23:47:03.930,12,30,2010
1,-19.9840,168.3530,20.2,5.0,NaN,385,NaN,Vanuatu,2010-12-30 21:22:30.350,12,30,2010
2,50.3800,153.9640,190.1,5.0,NaN,385,NaN,Kuril Islands,2010-12-30 19:56:36.380,12,30,2010
3,56.7391,-156.1674,58.1,5.0,NaN,385,NaN,Alaska Peninsula,2010-12-30 19:21:26.463,12,30,2010
4,9.9890,126.2490,58.5,5.0,NaN,385,NaN,"Mindanao, Philippines",2010-12-30 16:56:14.930,12,30,2010

In [5]:
#  count
quakedata_201020_df.count()

Lat      19703
Lng      19703
Depth    19703
Mag      19703
MMI       5367
Sig      19703
Felt      7128
Place    19703
Time     19703
Month    19703
Day      19703
Year     19703
dtype: int64

In [6]:
# drop NAs
quakedata_201020_df.dropna(inplace = True) 

#  count
quakedata_201020_df.count()

Lat      3064
Lng      3064
Depth    3064
Mag      3064
MMI      3064
Sig      3064
Felt     3064
Place    3064
Time     3064
Month    3064
Day      3064
Year     3064
dtype: int64